body, html {
  height: 100%;
  display: grid;
}

.mainContainer {
  padding: 0 rem(15px);
  margin: auto;
  max-width: 1020px;
  text-align: center;

  .siteDescription {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__version {
      font-size: 10px;
      vertical-align: top;
    }
  }

  .mainForm {
    &__videoURL {
      font-size: 16pt;
      width: 100%;
      margin: rem(20px) 0;
      line-height: 1;
      padding: rem(15px);
    }

    &__submitButton {
      padding: rem(15px);
      border: 3px solid;
      color: #ffffff;
      background: $red;
      text-transform: uppercase;
      cursor: pointer;
    }

    .exportSettings {
      margin-bottom: rem(25px);
      line-height: 2;

      &__checkbox {
        margin-right: 3px;
        margin-left: rem(15px);
      }

      &__label {
        white-space: nowrap;
      }
    }
  }

}

.submitButton {
  line-height: $submit-button-line-height;
  font-size: $submit-button-font-size;

  &--progress &__text {
    visibility: hidden;
    height: 0;
    display: block;

  }

  &--progress &__spinner {
    width: $submit-button-spinner-size;
    height: $submit-button-spinner-size;
    display: inherit;
    animation: rotator $submit-button-spinner-duration linear infinite;

    @keyframes rotator {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(270deg);
      }
    }

    .path {
      stroke-dasharray: $submit-button-spinner-offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      stroke: #ffffff;
      animation: dash $submit-button-spinner-duration ease-in-out infinite,
      colors ($submit-button-spinner-duration*4) ease-in-out infinite;
    }

    @keyframes dash {
      0% {
        stroke-dashoffset: $submit-button-spinner-offset;
      }
      50% {
        stroke-dashoffset: $submit-button-spinner-offset/4;
        transform: rotate(135deg);
      }
      100% {
        stroke-dashoffset: $submit-button-spinner-offset;
        transform: rotate(450deg);
      }
    }
  }
  &__spinner {
    display: none;
  }
}

.results {
  .table {
    text-align: left;
    td, th {
      padding: 10px;
    }
  }
}

.error {
  margin-bottom: 15px;
  display: block;
  color: $red;
}
