$base-font-family: Roboto, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: 14px;

$red: #ff0000;

$submit-button-line-height: 1.15;
$submit-button-font-size: $base-font-size;
$submit-button-spinner-size: round($submit-button-line-height * $base-font-size);
$submit-button-spinner-offset: 187;
$submit-button-spinner-duration: 1.4s;