<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ _('YouTube Comments Exporter') }}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="mainContainer">
  <div class="siteDescription">
    <h1>{{ _('YouTube Comments Exporter') }}
      <small class="siteDescription__version">Alpha</small>
    </h1>
    <p>{{ _('Insert link to a video in the field below and then click "Download Comments"')}}</p>
  </div>
  <form method="POST" id="main-form" class="mainForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label>
      <input type="url" name="video_url" required="required"
             placeholder="{{ _('Video URL. For example:')}} https://www.youtube.com/watch?v=4ZKsYyYFm5c"
             class="mainForm__videoURL"/>
    </label>
    <div class="exportSettings">
      <label class="exportSettings__label">
        <input type="checkbox" name="exclude_author" class="exportSettings__checkbox" checked/>
        {{_('Exclude comments of the video author')}}
      </label>
      <label class="exportSettings__label">
        <input type="checkbox" name="" class="exportSettings__checkbox" disabled/>{{ _('Replies') }}
      </label>
      <label class="exportSettings__label">
        <input type="checkbox" name="" class="exportSettings__checkbox" checked disabled/>{{ _('One comment per user')
        }}
      </label>
    </div>
    <button type="submit" class="mainForm__submitButton submitButton">
      <span class="submitButton__text">{{ gettext('Download Comments') }}</span>
      <svg class="submitButton__spinner" viewBox="0 0 66 66"
           xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </button>
  </form>
  <div class="results">

  </div>
</div>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>